<div class="site-wrapper grid">
    <div class="grid-item">
        <Status :message="message" />
        <Board :squares="squares" />
        <Player :id="'player1'" :inputValue="player1" @update-value="onUpdateValue">Player1</Player>
        <Player :id="'player2'" :inputValue="player2" @update-value="onUpdateValue">Player2</Player>
        <div class="text-center">
            <Button :isBtnDisabled="isBtnDisabled" @btn-clicked="onGameRestart">
                Restart
            </Button>
            <Button @btn-clicked="onGameSave">Save</Button>
        </div>
    </div>
    <div class="grid-item">
        <Moves :moves="history" @selected-move="onSelectedMove" />
    </div>
</div>